<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Coloane Editor"
            extensions="petri"
            icon="icons/model.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="fr.lip6.move.coloane.test.apiws.editors.XMLEditor"
            id="fr.lip6.move.coloane.test.apiws.editors.ColoaneEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="fr.lip6.move.coloane.test.apiws.coloaneAction"
            label="Coloane Action"
            visible="true">
         <action
               class="fr.lip6.move.coloane.test.apiws.actions.OpenConnectionAction"
               icon="icons/authenticate.png"
               id="fr.lip6.move.coloane.test.apiws.actionOpenConnection"
               label="&amp;Open Connection"
               menubarPath="sampleMenu/sampleGroupApiWS"
               tooltip="Open Connection">
         </action>
         <action
               class="fr.lip6.move.coloane.test.apiws.actions.CloseConnectionAction"
               icon="icons/unauthenticate.png"
               id="fr.lip6.move.coloane.test.apiws.actionCloseConnection"
               label="&amp;Close Connection"
               menubarPath="sampleMenu/sampleGroupApiWS"
               tooltip="Close Connection">
         </action>
         <action
               class="fr.lip6.move.coloane.test.apiws.actions.ExecuteServiceAction"
               icon="icons/sticky.png"
               id="fr.lip6.move.coloane.test.apiws.actionExecutService"
               label="&amp;Execut Service"
               menubarPath="sampleMenu/sampleGroupApiWS"
               tooltip="Execut Service">
         </action>
         <menu
               id="sampleMenu"
               label="ApiWS">
         </menu>
      </actionSet>
   </extension>

</plugin>
