<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.lip6.move.coloane.core.exports">
      <Export
            class="fr.lip6.move.coloane.extensions.exporttogml.ExportToGML"
            extension="gml"
            id="fr.lip6.move.coloane.extensions.exporttogml"
            wizard_id="fr.lip6.move.coloane.wizard.export.gml">
         <AcceptedFormalism
               id="PT-Net">
         </AcceptedFormalism>
         <AcceptedFormalism
               id="CPN">
         </AcceptedFormalism>
         <AcceptedFormalism
               id="SNB">
         </AcceptedFormalism>
      </Export>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="fr.lip6.move.coloane.wizard.export.coloane"
            class="fr.lip6.move.coloane.core.ui.wizards.exportmodel.ExportWizard"
            id="fr.lip6.move.coloane.wizard.export.gml"
            name="GML file">
      </wizard>
   </extension>

</plugin>
