<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Sample File Import"
            id="fr.lip6.move.coloane.importpnml_wizard.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import File"
            icon="icons/sample.gif"
            category="fr.lip6.move.coloane.importpnml_wizard.importWizards.sampleCategory"
            class="fr.lip6.move.coloane.importpnml_wizard.importWizards.ImportWizard"
            id="fr.lip6.move.coloane.importpnml_wizard.importWizards.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
