<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.lip6.move.coloane.core.tools">
      <Tool
            action="fr.lip6.move.coloane.tools.stats.StatAction"
            name="StatTool">
      </Tool>
      <Tool
            action="fr.lip6.move.coloane.tools.stats.StatAction1"
            name="StatToolBis">
      </Tool>
   </extension>
   <extension
         id="fr.lip6.move.coloane.tools.stats"
         name="Marker Perso"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>

</plugin>
