<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="fr.lip6.move.coloane.extensions.importgrml" name="importGrML" schema="src/main/resources/importGrML.exsd"/>
   <extension
         point="fr.lip6.move.coloane.core.imports">
      <Import
            class="fr.lip6.move.coloane.extensions.importgrml.Importer"
            id="fr.lip6.move.coloane.extensions.importgrml"
            wizard_id="fr.lip6.move.coloane.wizard.import.grml">
      </Import>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="fr.lip6.move.coloane.wizard.import.coloane"
            class="fr.lip6.move.coloane.core.ui.wizards.importmodel.ImportWizard"
            icon="src/main/resources/crocodile-icon.png"
            id="fr.lip6.move.coloane.wizard.import.grml"
            name="GrML File">
         <description>
            Import models written in GrML from the local file system.
         </description>
      </wizard>
   </extension>
   <extension
         point="fr.lip6.move.coloane.extensions.importgrml">
      <converter>
         <formalism
               fml-url="http://formalisms.cosyverif.org/pt-net.fml">
         </formalism>
         <semi-automatic-converter>
            <formalism-conversion
                  coloane-formalism-id="PT-Net"
                  fml-url="http://formalisms.cosyverif.org/pt-net.fml">
            </formalism-conversion>
            <attribute-conversion
                  coloane-attribute-type="title"
                  fml-attribute-type="name"
                  handler="fr.lip6.move.coloane.extensions.importgrml.TextAttributeHandler">
            </attribute-conversion>
            <attribute-conversion
                  coloane-attribute-type="note"
                  fml-attribute-type="comments"
                  handler="fr.lip6.move.coloane.extensions.importgrml.TextAttributeHandler">
            </attribute-conversion></semi-automatic-converter>
      </converter>
   </extension>

</plugin>
