<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.lip6.move.coloane.extensions.exportToGrML.exportGrML">
       	<exportedFormalism
         	class = "fr.lip6.move.coloane.extensions.exporttogrml.automaton.AutomatonExport"
         	fmlurl="http://formalisms.cosyverif.org/automaton.fml"
         	name="automaton">
         </exportedFormalism>
       	<exportedFormalism
         	class = "fr.lip6.move.coloane.extensions.exporttogrml.automaton.AutomatonExport"
         	fmlurl="http://formalisms.cosyverif.org/wa.fml"
         	name="WA">
         </exportedFormalism>
   </extension>
</plugin>


