<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.lip6.move.coloane.core.exports">
      <Export
            class="fr.lip6.move.coloane.extensions.importExportGSPN.exportToGSPN.ExportToImpl"
            extension="gspn"
            id="fr.lip6.move.coloane.extensions.exportgspn"
            reference="fr.lip6.move.coloane.wizard.export.gspn">
         <AcceptedFormalism
               id="fr.lip6.move.coloane.extensions.importExportGSPN.AcceptedFormalism2">
         </AcceptedFormalism>
      </Export>
   </extension>

</plugin>
