<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.preferencePages">
		<page category="fr.lip6.move.coloane.ui.prefs.main"
			class="fr.lip6.move.coloane.tools.layout.GraphVizPreferencePage" id="fr.lip6.move.coloane.ui.prefs.graphviz"
			name="Layout Preferences">
		</page>
	</extension>
 <extension
       point="fr.lip6.move.coloane.core.tools">
    <Tool
          action="fr.lip6.move.coloane.tools.layout.LayoutEditorActionDelegate"
          icon="resources/share.png"
          name="Layout">
    </Tool>
 </extension>
</plugin>
