<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<command description="Layout a Coloane model using GraphViz"
			id="fr.lip6.move.coloane.graphviz.layout" name="layout">
		</command>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page category="fr.lip6.move.coloane.ui.dialogs.ColoanePreference"
			class="fr.lip6.move.coloane.actions.layout.GraphVizPreferencePage" id="fr.lip6.move.coloane.graphviz.preferences"
			name="Layout Preferences">
		</page>
	</extension>
	<extension id="fr.lip6.move.coloane.graphviz.layout" name="layout"
		point="org.eclipse.ui.editorActions">
		<editorContribution id="fr.lip6.move.coloane.graphviz.layout"
			targetID="fr.lip6.move.coloane.editor.petri">
			<action actionID="fr.lip6.move.coloane.graphviz.runLayoutAction"
				class="fr.lip6.move.coloane.actions.layout.LayoutEditorActionDelegate"
				definitionId="fr.lip6.move.coloane.graphviz.layout" disabledIcon="resources/layout.PNG"
				icon="resources/layout.PNG" id="fr.lip6.move.coloane.graphviz.actionLayout"
				label="Layout" style="push" toolbarPath="Normal/additions"
				tooltip="Layout the current graph. See Preferences-&gt;Coloane-&gt;Layout for options.">
			</action>
		</editorContribution>
	</extension>
</plugin>
