<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="exports" name="Exports" schema="schema/exports.exsd"/>
   <extension-point id="imports" name="Imports" schema="schema/imports.exsd"/>
   <extension-point id="reports" name="Reports" schema="schema/reports.exsd"/>
   <extension
         id="perspective"
         name="Coloane's perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.lip6.move.coloane.core.ui.ColoanePerspectiveFactory"
            fixed="false"
            icon="resources/icons/perspective.gif"
            id="fr.lip6.move.coloane.perspective"
            name="%PERSPECTIVE_NAME">
      </perspective>
   </extension>
    <extension
          id="actionSets"
          name="Coloane's menus and items"
          point="org.eclipse.ui.actionSets">
      <actionSet
            id="fr.lip6.move.coloane.actionSets"
            label="%MENUBAR_ID"
            visible="false">
         <menu
               id="coloaneServicesMenu"
               label="%MENUBAR_LABEL">
            <separator name="PlatformSeparator"/>
            <separator name="OthersMenusSeparator"/>
         </menu>
         <menu
               id="plateformMenu"
               label="%PLATFORM_MENU"
               path="coloaneServicesMenu/PlatformSeparator">
            <separator name="group1"/>
            <separator name="group2"/>
         </menu>
         <action
               class="fr.lip6.move.coloane.core.ui.actions.DisconnectModelAction"
               icon="resources/icons/disconnect.gif"
               id="disconnect"
               label="%DISCONNECT_ITEM"
               menubarPath="coloaneServicesMenu/plateformMenu/group2"
               style="push"
               toolbarPath="coloaneServicesToolbarButtons"
               tooltip="%DISCONNECT_TIP">
         </action>
         <action
               class="fr.lip6.move.coloane.core.ui.actions.ConnectModelAction"
               icon="resources/icons/connect.gif"
               id="connect"
               label="%CONNECT_ITEM"
               menubarPath="coloaneServicesMenu/plateformMenu/group2"
               style="push"
               toolbarPath="coloaneServicesToolbarButtons"
               tooltip="%CONNECT_TIP">
         </action>
         <action
               class="fr.lip6.move.coloane.core.ui.actions.BreakConnectionAction"
               icon="resources/icons/force_deco.gif"
               id="breakconnection"
               label="%BREAK_ITEM"
               menubarPath="coloaneServicesMenu/plateformMenu/group1"
               style="push"
               toolbarPath="coloaneServicesToolbarButtons">
         </action>
         <action
               class="fr.lip6.move.coloane.core.ui.actions.AuthenticationAction"
               icon="resources/icons/auth.gif"
               id="authentication"
               label="%AUTHENTICATION_ITEM"
               menubarPath="coloaneServicesMenu/plateformMenu/group1"
               style="push"
               toolbarPath="coloaneServicesToolbarButtons"
               tooltip="%AUTHENTICATION_TIP">
         </action>
      </actionSet>
   </extension>
    <extension
          id="views"
          name="Coloane's views"
          point="org.eclipse.ui.views">
       <category
             id="fr.lip6.move.coloane.views"
             name="%VIEWS_CATEGORY"/>
       <view
             allowMultiple="false"
             category="fr.lip6.move.coloane.views"
             class="fr.lip6.move.coloane.core.ui.panels.HistoryView"
             icon="resources/icons/histo_pane.gif"
             id="fr.lip6.move.coloane.views.HistoricView"
             name="%HISTORIC_VIEW"/>
       <view
             allowMultiple="false"
             category="fr.lip6.move.coloane.views"
             class="fr.lip6.move.coloane.core.ui.panels.ResultsView"
             icon="resources/icons/results.gif"
             id="fr.lip6.move.coloane.views.ResultsView"
             name="%RESULTS_VIEW"/>
       <view
             allowMultiple="false"
             category="fr.lip6.move.coloane.views"
             class="org.eclipse.ui.navigator.CommonNavigator"
             icon="resources/icons/hierarchy_co.gif"
             id="fr.lip6.move.coloane.views.NavigatorView"
             name="%NAVIGATOR_VIEW">
       </view>
    </extension>
    <extension
          id="editor"
          name="Coloane's Editor"
          point="org.eclipse.ui.editors">
       <editor
             class="fr.lip6.move.coloane.core.ui.ColoaneEditor"
             contributorClass="fr.lip6.move.coloane.core.ui.actions.ColoaneActionBarContributor"
             default="true"
             extensions="petri"
             icon="resources/icons/cube-blue.png"
             id="fr.lip6.move.coloane.editor.petri"
             name="%EDITOR_NAME"/>
       <editor
             class="fr.lip6.move.coloane.core.ui.ColoaneEditor"
             contributorClass="fr.lip6.move.coloane.core.ui.actions.ColoaneActionBarContributor"
             default="true"
             extensions="rg"
             icon="resources/icons/cube-green.png"
             id="fr.lip6.move.coloane.editor.rg"
             name="%EDITOR_NAME">
       </editor>
       <editor
             class="fr.lip6.move.coloane.core.ui.ColoaneEditor"
             contributorClass="fr.lip6.move.coloane.core.ui.actions.ColoaneActionBarContributor"
             default="true"
             extensions="prefix"
             icon="resources/icons/cube-red.png"
             id="fr.lip6.move.coloane.editor.prefix"
             name="%EDITOR_NAME">
       </editor>
    </extension>
    <extension
          id="newWizards"
          name="Models creation wizards"
          point="org.eclipse.ui.newWizards">
       <wizard
             canFinishEarly="true"
             category="org.eclipse.jdt.ui.java/"
             class="fr.lip6.move.coloane.core.ui.wizards.NewProjectWizard"
             finalPerspective="fr.lip6.move.coloane.perspective"
             hasPages="true"
             icon="resources/icons/project.gif"
             id="fr.lip6.move.coloane.wizard.projectWizard"
             name="%PROJECT_WIZARD"
             preferredPerspectives="fr.lip6.move.coloane.perspective"
             project="true">
       </wizard>
       <wizard
             canFinishEarly="false"
             category="org.eclipse.jdt.ui.java/"
             class="fr.lip6.move.coloane.core.ui.wizards.NewModelWizard"
             finalPerspective="fr.lip6.move.coloane.perspective"
             hasPages="true"
             icon="resources/icons/model.gif"
             id="fr.lip6.move.coloane.wizard.modelWizard"
             name="%MODEL_WIZARD"
             preferredPerspectives="fr.lip6.move.coloane.perspective"
             project="false"/>
       <primaryWizard
             id="fr.lip6.move.coloane.wizard.projectWizard">
       </primaryWizard>
    </extension>
	<extension
       id="preferencePages"
       name="Coloane&apos;s Preference Pages"
       point="org.eclipse.ui.preferencePages">
        <page id="fr.lip6.move.coloane.ui.dialogs.ColoanePreference"
                name="Coloane"
                class="fr.lip6.move.coloane.core.ui.dialogs.ColoanePrefsPage">
        </page>
        <page id="org.eclipse.ui.articles.BadWordsColorPreference"
                name="Colors"
                class="fr.lip6.move.coloane.core.ui.dialogs.ColorsPrefs"
                category="fr.lip6.move.coloane.ui.dialogs.ColoanePreference">
        </page>
    
	</extension>
 <extension
       id="exportWizards"
       name="Coloane&apos;s Wizards for Export"
       point="org.eclipse.ui.exportWizards">
    <category
          id="fr.lip6.move.coloane.wizard.export.coloane"
          name="Coloane">
    </category>
 </extension>
 <extension
       id="importWizards"
       name="Coloane&apos;s Wizards for Import"
       point="org.eclipse.ui.importWizards">
    <category
          id="fr.lip6.move.coloane.wizard.import.coloane"
          name="Coloane">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewer
          viewerId="fr.lip6.move.coloane.views.NavigatorView">
    </viewer>
    <viewerContentBinding
          viewerId="fr.lip6.move.coloane.views.NavigatorView">
       <includes>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resourceContent">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.filters.*">
          </contentExtension>
          <contentExtension
                pattern="fr.lip6.move.coloane.core.ui.navigator.filters.*">
          </contentExtension>
          <contentExtension
                pattern="fr.lip6.move.coloane.core.modelcontents">
          </contentExtension>
       </includes>
    </viewerContentBinding>
    <viewerActionBinding
          viewerId="fr.lip6.move.coloane.views.NavigatorView">
       <includes>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.*">
          </actionExtension>
       </includes>
    </viewerActionBinding>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="fr.lip6.move.coloane.core.ui.views.TreeContentProvider"
          icon="resources/icons/all_sc_obj.gif"
          id="fr.lip6.move.coloane.core.modelcontents"
          labelProvider="fr.lip6.move.coloane.core.ui.views.LabelProvider"
          name="Model Contents"
          priority="normal">
       <triggerPoints>
          <and>
             <instanceof
                   value="org.eclipse.core.resources.IResource">
             </instanceof>
             <or>
                <test
                      forcePluginActivation="true"
                      property="org.eclipse.core.resources.extension"
                      value="petri">
                </test>
                <test
                      forcePluginActivation="true"
                      property="org.eclipse.core.resources.extension"
                      value="rg">
                </test>
             </or>
          </and>
       </triggerPoints>
    </navigatorContent>
    <commonWizard
          type="new"
          wizardId="fr.lip6.move.coloane.wizard.modelWizard">
       <enablement>
          <adapt
                type="org.eclipse.core.resources.IProject">
             <test
                   property="org.eclipse.core.resources.projectNature"
                   value="fr.lip6.move.coloane.core.modelingproject">
             </test>
          </adapt></enablement>
    </commonWizard>
    <commonWizard
          type="new"
          wizardId="fr.lip6.move.coloane.wizard.projectWizard">
       <enablement>
          <count
                value="*">
          </count></enablement>
    </commonWizard>
 </extension>
 <extension
       id="modelingproject"
       name="Nature Coloane"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="fr.lip6.move.coloane.core.ui.ColoaneProjectNature">
       </run>
    </runtime>
 </extension>
 <extension point="org.eclipse.ui.ide.projectNatureImages">
  <image 
    id="org.eclipse.ui.modelProjectNatureImage"
    natureId="fr.lip6.move.coloane.core.modelingproject"
    icon="/resources/icons/model_tag.gif">
  </image>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="fr.lip6.move.coloane.perspective">
       <newWizardShortcut
             id="fr.lip6.move.coloane.wizard.projectWizard">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
 <extension
       point="fr.lip6.move.coloane.core.reports">
    <report
          class="fr.lip6.move.coloane.core.results.reports.SyntaxCheckerReport"
          service_name="Petri net syntax checker">
    </report>
 </extension>
</plugin>
