<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.eclipsetotale.tutorial.pagepreference.TutorialPreferencePage"
            id="com.eclipsetotale.tutorial.pagepreference.page1"
            name="Tutorial développement de plugin">
      </page>
   </extension>

</plugin>
