<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="fr.lip6.move.coloane.core.exports">
      <Export
            class="fr.lip6.move.coloane.extension.importExportPNML.exportToPNML.ExportToImpl"
            extension="pnml"
            id="fr.lip6.move.coloane.extensions.exportpnml"
            wizard_id="fr.lip6.move.coloane.wizard.export.pnml">
         <AcceptedFormalism
               id="PT-Net">
         </AcceptedFormalism>
      </Export>
   </extension>
   <extension
         point="fr.lip6.move.coloane.core.imports">
      <Import
            class="fr.lip6.move.coloane.extension.importExportPNML.importFromPNML.ImportFromImpl"
            id="fr.lip6.move.coloane.extensions.importpnml"
            wizard_id="fr.lip6.move.coloane.wizard.import.pnml">
         <AcceptedFormalism
               id="PT-Net">
         </AcceptedFormalism>
      </Import>
   </extension>
      <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="fr.lip6.move.coloane.wizard.export.coloane"
            class="fr.lip6.move.coloane.core.ui.wizards.exportmodel.ExportWizard"
            icon="resources/pnmlfile.png"
            id="fr.lip6.move.coloane.wizard.export.pnml"
            name="Pnml File">
		 <description>
            Export local models to your file system using PNML syntax.
         </description>
      </wizard>
   </extension>
      <extension
            point="org.eclipse.ui.importWizards">
         <wizard
               category="fr.lip6.move.coloane.wizard.import.coloane"
               class="fr.lip6.move.coloane.core.ui.wizards.importmodel.ImportWizard"
               icon="resources/pnmlfile.png"
               id="fr.lip6.move.coloane.wizard.import.pnml"
               name="Pnml File">
		 <description>
            Import models written in PNML from the local file system.
         </description>
         </wizard>
      </extension>

</plugin>
