<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="fr.lip6.move.coloane.core.exports">
      <Export
            class="fr.lip6.move.coloane.extensions.exportToPGF.ExportPlugin"
            extension="tex"
            id="fr.lip6.move.coloane.extensions.exportpgf"
            reference="fr.lip6.move.coloane.wizard.export.pgf">
         <AcceptedFormalism
               id="PT-Net">
         </AcceptedFormalism>
         <AcceptedFormalism
               id="CPN">
         </AcceptedFormalism>
         <AcceptedFormalism
               id="RG">
         </AcceptedFormalism>
      </Export>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="fr.lip6.move.coloane.wizard.export.coloane"
            class="fr.lip6.move.coloane.core.ui.wizards.exportmodel.ExportWizard"
            icon="resources/scriptLaTeX.png"
            id="fr.lip6.move.coloane.wizard.export.pgf"
            name="PGF File (TeX)">
		 <description>
            Export local models to your file system using PNG (TeX) syntax.
         </description>
      </wizard>
   </extension>
</plugin>
