<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="fr.lip6.move.coloane.core.exports">
      <Export
            class="fr.lip6.move.coloane.extension.importExportITS.exportToITS.ExportToImpl"
            extension="xml"
            id="fr.lip6.move.coloane.extensions.exportits"
            reference="fr.lip6.move.coloane.wizard.export.its">
         <AcceptedFormalism
               id="ITS Composite">
         </AcceptedFormalism>
      </Export>
   </extension>
   <extension
         point="fr.lip6.move.coloane.core.imports">
      <Import
            class="fr.lip6.move.coloane.extension.importExportITS.importFromITS.ImportFromImpl"
            id="fr.lip6.move.coloane.extensions.importits"
            reference="fr.lip6.move.coloane.wizard.import.its">
         <AcceptedFormalism
               id="ITSComposite">
         </AcceptedFormalism>
      </Import>
   </extension>
   <extension
   		 point="org.eclipse.ui.exportWizards">
      <wizard
            category="fr.lip6.move.coloane.wizard.export.coloane"
            class="fr.lip6.move.coloane.core.ui.wizards.exportmodel.ExportWizard"
            icon="resources/camifile.png"
            id="fr.lip6.move.coloane.wizard.export.its"
            name="ITS XML file">
		 <description>
            Export local models to your file system using CAMI syntax.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="fr.lip6.move.coloane.wizard.import.coloane"
            class="fr.lip6.move.coloane.core.ui.wizards.importmodel.ImportWizard"
            icon="resources/camifile.png"
            id="fr.lip6.move.coloane.wizard.import.its"
            name="ITS XML file">
         <description>
            Import models written in XML for ITS from the local file system.
         </description>
      </wizard>
   </extension>

</plugin>
