<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="fr.lip6.move.test.cami.convert.exportTo">
      <ExportTo
            class="fr.lip6.move.test.extension.exportToCami.ConversionImpl"
            id="ExportToCami"
            name="CAMI">
      </ExportTo>
   </extension>

</plugin>
