<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="exportTo" name="ExportTo" schema="schema/exportTo.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="fr.lip6.move.test.cami.convert.actionExportTo"
            label="actionExportTo"
            visible="true">
         <action
               class="fr.lip6.move.test.cami.convert.ExportTo"
               id="fr.lip6.move.test.cami.convert.actionExportTo"
               label="Export To..."
               menubarPath="File/ExportToGroupe"
               toolbarPath="ExportToGroupe">
         </action>
         <menu
               id="File"
               label="File">
         </menu>
      </actionSet>
   </extension>

</plugin>
