<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.lip6.move.coloane.ui.MainPerspectiveFactory"
            icon="icons/editor.gif"
            id="fr.lip6.move.coloane.perspective"
            name="Coloane"/>
   </extension>
    <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="fr.lip6.move.coloane.actionSet"
            label="Coloane Platform"
            visible="false">
         <action
               class="fr.lip6.move.coloane.main.ColoaneActions"
               icon="icons/encrypted.png"
               id="authentication"
               label="Authentication..."
               menubarPath="plateformMenu/group1"
               style="push"/>
         <menu
               id="plateformMenu"
               label="Platform">
            <separator name="group1"/>
            <separator name="group2"/>
         </menu>
         <action
               allowLabelUpdate="true"
               class="fr.lip6.move.coloane.main.ColoaneActions"
               icon="icons/connect_creating.png"
               id="connect"
               label="Connect model"
               menubarPath="plateformMenu/group2"
               style="push"/>
         <action
               class="fr.lip6.move.coloane.main.ColoaneActions"
               id="disconnect"
               label="Disconnect model"
               menubarPath="plateformMenu/group2"
               style="push"/>
      </actionSet>
      <actionSet
            id="fr.lip6.move.coloane.actionSet.file"
            label="CAMI Import Export"
            visible="true">
         <action
               class="fr.lip6.move.coloane.ui.actions.ImportExportCAMI"
               icon="icons/import_wiz.gif"
               id="cami_import"
               label="Import CAMI File..."
               menubarPath="file/import.ext"
               style="push"/>
         <action
               class="fr.lip6.move.coloane.ui.actions.ImportExportCAMI"
               icon="icons/export_wiz.gif"
               id="cami_export"
               label="Export CAMI File..."
               menubarPath="file/import.ext"
               style="push"/>
      </actionSet>
   </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="fr.lip6.move.coloane.views"
             name="Coloane"/>
       <view
             category="fr.lip6.move.coloane.views"
             class="fr.lip6.move.coloane.ui.panels.HistoryView"
             icon="icons/histo_pane.gif"
             id="fr.lip6.move.coloane.views.HistoricView"
             name="Historic"/>
       <view
             category="fr.lip6.move.coloane.views"
             class="fr.lip6.move.coloane.ui.panels.ResultsView"
             icon="icons/state_pane.gif"
             id="fr.lip6.move.coloane.views.PNSCView"
             name="Coloane results"/>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="fr.lip6.move.coloane.ui.Editor"
             default="false"
             extensions="rdp, gma"
             icon="icons/editor.gif"
             id="fr.lip6.move.coloane.editor"
             name="Editor"/>
    </extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <category
             id="fr.lip6.move.coloane.category"
             name="Coloane"/>
       <wizard
             category="fr.lip6.move.coloane.category"
             class="fr.lip6.move.coloane.ui.wizards.NewModelWizard"
             hasPages="true"
             icon="icons/editor.gif"
             id="fr.lip6.move.coloane.wizard.newModel"
             name="New model"
             project="true"/>
    </extension>
</plugin>
