<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="Import From PNML-Web"
            icon="icons/sample.gif"
            category="fr.lip6.move.coloane.wizard.import.coloane"
            class="fr.lip6.move.coloane.extensions.importFromPNMLWeb.ImportWizard"
            id="fr.lip6.move.coloane.wizard.import.pnmlweb">
         <description>
            Import a file from the PNML-Web repository.
         </description>
      </wizard>
   </extension>

</plugin>
