<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="MenuTest.actionSet1"
            label="S1"
            visible="true">
         <menu
               id="SM1"
               label="&amp;Platform">
            <separator name="SG1"/>
         </menu>
         <action
               class="menutest.SampleAction"
               icon="icons/sample.gif"
               id="menutest.actions.SampleAction1"
               label="SA1"
               menubarPath="SM1/SG1"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="menutest.MainPerspectiveFactory"
            fixed="false"
            id="MenuTest.perspective1"
            name="MenuTest"/>
   </extension>

</plugin>
