<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="exports" name="Exports" schema="schema/exports.exsd"/>
   <extension-point id="imports" name="Imports" schema="schema/imports.exsd"/>
   <extension-point id="reports" name="Reports" schema="schema/reports.exsd"/>
   <extension-point id="examples" name="Examples" schema="schema/examples.exsd"/>
   <extension-point id="formalisms" name="Formalisms" schema="schema/formalisms.exsd"/>
   <extension-point id="apis" name="Api" schema="schema/api.exsd"/>
   <extension-point id="tools" name="Tools" schema="schema/tools.exsd"/>
   <extension
         id="perspective"
         name="Coloane's perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.lip6.move.coloane.core.ui.ColoanePerspectiveFactory"
            fixed="false"
            icon="resources/icons/perspective.gif"
            id="fr.lip6.move.coloane.perspective"
            name="%PERSPECTIVE_NAME">
      </perspective>
   </extension>
    <extension
          id="actionSets"
          name="Coloane's menus and items"
          point="org.eclipse.ui.actionSets">
      <actionSet
            id="fr.lip6.move.coloane.actionSets"
            label="%MENUBAR_ID"
            visible="true">
         <action
               class="fr.lip6.move.coloane.core.ui.actions.ExportImageAction"
               icon="resources/icons/picture_save.png"
               id="fr.lip6.move.coloane.core.exportimage"
               label="ExportImage"
               toolbarPath="org.eclipse.ui.workbench.file/print.ext"
               tooltip="Export your model to image file">
            <enablement>
               <objectClass
                     name="fr.lip6.move.coloane.core.ui.editpart.GraphEditPart">
               </objectClass>
            </enablement>
         </action>
      </actionSet>
   </extension>
    <extension
          id="views"
          name="Coloane's views"
          point="org.eclipse.ui.views">
       <category
             id="fr.lip6.move.coloane.views"
             name="%VIEWS_CATEGORY"/>
       <view
             allowMultiple="false"
             category="fr.lip6.move.coloane.views"
             class="fr.lip6.move.coloane.core.ui.panels.ResultsView"
             icon="resources/icons/results_view.gif"
             id="fr.lip6.move.coloane.views.ResultsView"
             name="%RESULTS_VIEW"/>
       <view
             allowMultiple="false"
             category="fr.lip6.move.coloane.views"
             class="org.eclipse.ui.navigator.CommonNavigator"
             icon="resources/icons/models_navigator.gif"
             id="fr.lip6.move.coloane.views.NavigatorView"
             name="%NAVIGATOR_VIEW">
       </view>
    </extension>
    <extension
          id="editor"
          name="Coloane's Editor"
          point="org.eclipse.ui.editors">
       <editor
             class="fr.lip6.move.coloane.core.ui.ColoaneEditor"
             contributorClass="fr.lip6.move.coloane.core.ui.actions.ColoaneActionBarContributor"
             default="true"
             extensions="%MODEL_EXTENSION"
             icon="resources/formalisms/ptn/ptn.png"
             id="fr.lip6.move.coloane.editor.petri"
             name="%EDITOR_NAME">
       </editor>
    </extension>
    <extension
          id="newWizards"
          name="Models creation wizards"
          point="org.eclipse.ui.newWizards">
       <wizard
             canFinishEarly="true"
             category="fr.lip6.move.coloane/"
             class="fr.lip6.move.coloane.core.ui.wizards.NewProjectWizard"
             finalPerspective="fr.lip6.move.coloane.perspective"
             hasPages="true"
             icon="resources/icons/project.gif"
             id="fr.lip6.move.coloane.wizard.projectWizard"
             name="%PROJECT_WIZARD"
             preferredPerspectives="fr.lip6.move.coloane.perspective"
             project="true">
       </wizard>
       <wizard
             canFinishEarly="false"
             category="fr.lip6.move.coloane/"
             class="fr.lip6.move.coloane.core.ui.wizards.newmodel.NewModelWizard"
             finalPerspective="fr.lip6.move.coloane.perspective"
             hasPages="true"
             icon="resources/icons/model.gif"
             id="fr.lip6.move.coloane.wizard.modelWizard"
             name="%MODEL_WIZARD"
             preferredPerspectives="fr.lip6.move.coloane.perspective"
             project="false"/>
       <primaryWizard
             id="fr.lip6.move.coloane.wizard.projectWizard">
       </primaryWizard>
       <category
             id="fr.lip6.move.coloane"
             name="Coloane">
       </category>
    </extension>
	<extension
       id="preferencePages"
       name="Coloane&apos;s Preference Pages"
       point="org.eclipse.ui.preferencePages">
        <page id="fr.lip6.move.coloane.ui.prefs.main"
                name="Coloane"
                class="fr.lip6.move.coloane.core.ui.prefs.ColoanePrefsPage">
        </page>
        <page id="fr.lip6.move.coloane.ui.prefs.colors"
                name="%PREF_COLORS"
                class="fr.lip6.move.coloane.core.ui.prefs.ColorsPrefs"
                category="fr.lip6.move.coloane.ui.prefs.main">
        </page>
    
	</extension>
 <extension
       id="exportWizards"
       name="Coloane&apos;s Wizards for Export"
       point="org.eclipse.ui.exportWizards">
    <category
          id="fr.lip6.move.coloane.wizard.export.coloane"
          name="Coloane">
    </category>
 </extension>
 <extension
       id="importWizards"
       name="Coloane&apos;s Wizards for Import"
       point="org.eclipse.ui.importWizards">
    <category
          id="fr.lip6.move.coloane.wizard.import.coloane"
          name="Coloane">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewer
          viewerId="fr.lip6.move.coloane.views.NavigatorView">
       <popupMenu
             allowsPlatformContributions="true"
             id="fr.lip6.move.coloane.views.NavigatorView#PopupMenu">
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>   
             <insertionPoint name="group.edit"
                   separator="true"/>   
             <insertionPoint name="group.reorganize" />         
             <insertionPoint
                   name="group.port"
                   separator="true"/>     
             <insertionPoint
                   name="group.build"
                   separator="true"/> 
             <insertionPoint
                   name="group.generate"
                   separator="true"/> 
             <insertionPoint
                   name="group.search"
                   separator="true"/>              
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>             
       </popupMenu>
    </viewer>
    <viewerContentBinding
          viewerId="fr.lip6.move.coloane.views.NavigatorView">
       <includes>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resourceContent">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.filters.*">
          </contentExtension>
          <contentExtension
                pattern="fr.lip6.move.coloane.core.ui.navigator.filters.*">
          </contentExtension>
          <contentExtension
                pattern="fr.lip6.move.coloane.core.modelcontents">
          </contentExtension>
          <contentExtension
                pattern="fr.lip6.move.coloane.core.treecontents">
          </contentExtension>
       </includes>
    </viewerContentBinding>
    <viewerActionBinding
          viewerId="fr.lip6.move.coloane.views.NavigatorView">
       <includes>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.*">
          </actionExtension>
       </includes>
    </viewerActionBinding>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="fr.lip6.move.coloane.core.ui.views.ModelContentProvider"
          icon="resources/icons/model_contents.gif"
          id="fr.lip6.move.coloane.core.modelcontents"
          labelProvider="fr.lip6.move.coloane.core.ui.views.ModelLabelProvider"
          name="Model Contents"
          priority="normal">
       <triggerPoints>
       </triggerPoints>
       <possibleChildren>
          <instanceof
                value="org.eclipse.core.resources.IFile">
          </instanceof>
       </possibleChildren>
    </navigatorContent>
    <commonWizard
          type="new"
          wizardId="fr.lip6.move.coloane.wizard.modelWizard">
       <enablement></enablement>
    </commonWizard>
    <commonWizard
          type="new"
          wizardId="fr.lip6.move.coloane.wizard.projectWizard">
       <enablement></enablement>
    </commonWizard>
    <navigatorContent
          activeByDefault="true"
          contentProvider="fr.lip6.move.coloane.core.ui.views.TreeContentProvider"
          icon="resources/icons/model_contents.gif"
          id="fr.lip6.move.coloane.core.treecontents"
          labelProvider="fr.lip6.move.coloane.core.ui.views.TreeLabelProvider"
          name="Tree Content"
          priority="normal">
       <triggerPoints></triggerPoints>
       <possibleChildren>
          <instanceof
                value="fr.lip6.move.coloane.core.ui.views.Tree">
          </instanceof>
       </possibleChildren>
       <actionProvider
             class="fr.lip6.move.coloane.core.ui.views.NavigatorActionProvider">
       </actionProvider>
    </navigatorContent>
 </extension>
 <extension
       id="modelingproject"
       name="Nature Coloane"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="fr.lip6.move.coloane.core.ui.ColoaneProjectNature">
       </run>
    </runtime>
 </extension>
 <extension point="org.eclipse.ui.ide.projectNatureImages">
  <image 
    id="org.eclipse.ui.modelProjectNatureImage"
    natureId="fr.lip6.move.coloane.core.modelingproject"
    icon="/resources/icons/model_tag.gif">
  </image>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="fr.lip6.move.coloane.perspective">
       <newWizardShortcut
             id="fr.lip6.move.coloane.wizard.projectWizard">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="fr.lip6.move.coloane.properties.contributor"
          typeMapper="fr.lip6.move.coloane.core.ui.properties.TypeMapper">
       <propertyCategory
             category="all">
       </propertyCategory>
    </propertyContributor>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs
          contributorId="fr.lip6.move.coloane.properties.contributor">
       <propertyTab
             category="all"
             id="fr.lip6.move.coloane.core.properties.element"
             label="Element">
       </propertyTab>
       <propertyTab
             afterTab="fr.lip6.move.coloane.core.properties.element"
             category="all"
             id="fr.lip6.move.coloane.core.properties.graphic"
             label="Graphic">
       </propertyTab>
       <propertyTab
             afterTab="fr.lip6.move.coloane.core.properties.graphic"
             category="all"
             id="fr.lip6.move.coloane.core.properties.link"
             label="Link">
       </propertyTab>
    </propertyTabs>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="fr.lip6.move.coloane.properties.contributor">
       <propertySection
             class="fr.lip6.move.coloane.core.ui.properties.sections.NodeSection"
             filter="fr.lip6.move.coloane.core.ui.properties.sections.NodeFilter"
             id="fr.lip6.move.coloane.core.section.NodeSection"
             tab="fr.lip6.move.coloane.core.properties.element">
       </propertySection>
       <propertySection
             class="fr.lip6.move.coloane.core.ui.properties.sections.ArcSection"
             filter="fr.lip6.move.coloane.core.ui.properties.sections.ArcFilter"
             id="fr.lip6.move.coloane.core.section.ArcSection"
             tab="fr.lip6.move.coloane.core.properties.element">
       </propertySection>
       <propertySection
             class="fr.lip6.move.coloane.core.ui.properties.sections.ModelSection"
             filter="fr.lip6.move.coloane.core.ui.properties.sections.GraphFilter"
             id="fr.lip6.move.coloane.core.section.ModelSection"
             tab="fr.lip6.move.coloane.core.properties.element">
       </propertySection>
       <propertySection
             class="fr.lip6.move.coloane.core.ui.properties.sections.NodeColorSection"
             id="fr.lip6.move.coloane.core.section.NodeColorSection"
             tab="fr.lip6.move.coloane.core.properties.graphic">
          <input
                type="fr.lip6.move.coloane.interfaces.model.INode">
          </input>
       </propertySection>
       <propertySection
             class="fr.lip6.move.coloane.core.ui.properties.sections.ArcColorSection"
             id="fr.lip6.move.coloane.core.section.ArcColorSection"
             tab="fr.lip6.move.coloane.core.properties.graphic">
          <input
                type="fr.lip6.move.coloane.interfaces.model.IArc">
          </input>
       </propertySection>
       <propertySection
             class="fr.lip6.move.coloane.core.ui.properties.sections.NodeLocationSection"
             id="fr.lip6.move.coloane.core.section.NodeLocationSection"
             tab="fr.lip6.move.coloane.core.properties.graphic">
          <input
                type="fr.lip6.move.coloane.interfaces.model.INode">
          </input>
       </propertySection>
       <propertySection
             class="fr.lip6.move.coloane.core.ui.properties.sections.NodeSizeSection"
             id="fr.lip6.move.coloane.core.section.NodeSizeSection"
             tab="fr.lip6.move.coloane.core.properties.graphic">
          <input
                type="fr.lip6.move.coloane.interfaces.model.INode">
          </input>
       </propertySection>
       <propertySection
             afterSection="fr.lip6.move.coloane.core.section.NodePublicStateSection"
             class="fr.lip6.move.coloane.core.ui.properties.sections.LinkSection"
             id="fr.lip6.move.coloane.core.section.LinkSection"
             tab="fr.lip6.move.coloane.core.properties.link">
          <input
                type="fr.lip6.move.coloane.interfaces.model.INode">
          </input>
       </propertySection>
       <propertySection
             class="fr.lip6.move.coloane.core.ui.properties.sections.NodeInterfaceSection"
             id="fr.lip6.move.coloane.core.section.NodePublicStateSection"
             tab="fr.lip6.move.coloane.core.properties.link">
          <input
                type="fr.lip6.move.coloane.interfaces.model.INode">
          </input>
       </propertySection>
    </propertySections>
 </extension>
 <extension
       id="fr.lip6.move.coloane.core.formalisms"
       name="Formalisms Definition"
       point="fr.lip6.move.coloane.core.formalisms">
    <Formalism
          extension="ptn"
          id="PT-Net"
          image="resources/formalisms/ptn/ptn.png"
          name="Place/Transition Net"
          fkname="AMI-Net">
       <XmlDescription>
          <Graph
                name="AMI-Net">
                <Attribute
                      drawable="true"
                      multiline="true"
                      name="authors">
                   <AttributeChecker
                         class_condition="fr.lip6.move.coloane.core.formalisms.checkers.EmptyAttributeChecker"
                         message="You should provide some authors information"
                         name="Authors checker"
                         severity="Info">
                   </AttributeChecker>
                </Attribute>
                <Attribute
                      default="0,0"
                      drawable="true"
                      multiline="false"
                      name="version">
                </Attribute>
                <Attribute
                      drawable="true"
                      multiline="true"
                      name="title">
                </Attribute>
                <Attribute
                      drawable="true"
                      multiline="false"
                      name="date">
                </Attribute>
                <Attribute
                      default="Designed with Coloane"
                      drawable="false"
                      multiline="true"
                      name="note">
                </Attribute>
             <Node
                   container="false"
                   name="place">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.nodes.EllipseNode"
                      description="Create a place"
                      drawable="true"
                      fill="false"
                      height="15"
                      icon16px="resources/formalisms/ptn/place_16.png"
                      icon24px="resources/formalisms/ptn/place_24.png"
                      palettable="true"
                      paletteName="Place"
                      width="15">
                </GraphicInfo>
                <Attribute
                      bold="true"
                      delta_x="20"
                      delta_y="-5"
                      drawable="true"
                      italic="false"
                      multiline="false"
                      name="name">
                   <AttributeChecker
                         class_condition="fr.lip6.move.coloane.core.formalisms.checkers.EmptyAttributeChecker"
                         message="A place shoud have a name"
                         name="Place name checker"
                         severity="Error">
                   </AttributeChecker>
                   <Attribute
                         bold="false"
                         delta_x="10"
                         delta_y="-5"
                         drawable="true"
                         italic="false"
                         multiline="false"
                         name="type">
                   </Attribute>
                </Attribute>
                <Attribute
                      bold="false"
                      default="0"
                      delta_x="20"
                      delta_y="10"
                      drawable="true"
                      italic="true"
                      multiline="true"
                      name="marking">
                </Attribute>
                <NodeChecker
                      class_condition="fr.lip6.move.coloane.core.formalisms.checkers.ConnectionChecker"
                      message="A place should be connected to other nodes"
                      name="Place connection checker"
                      severity="Warning">
                </NodeChecker>
             </Node>
             <Node
                   container="false"
                   name="transition">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.nodes.RectangleNode"
                      description="Create a transition"
                      drawable="true"
                      fill="false"
                      height="7"
                      icon16px="resources/formalisms/ptn/transition_16.png"
                      icon24px="resources/formalisms/ptn/transition_24.png"
                      palettable="true"
                      paletteName="Transition"
                      width="25">
                </GraphicInfo>
                <Attribute
                      bold="true"
                      delta_x="20"
                      delta_y="-5"
                      drawable="true"
                      italic="false"
                      multiline="false"
                      name="name">
                   <AttributeChecker
                         class_condition="fr.lip6.move.coloane.core.formalisms.checkers.EmptyAttributeChecker"
                         message="A transition should have a name"
                         name="Transition name checker"
                         severity="Error">
                   </AttributeChecker>
                </Attribute>
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.nodes.RectangleNode"
                      drawable="false"
                      fill="false"
                      height="25"
                      palettable="false"
                      width="7">
                </GraphicInfo>
                <NodeChecker
                      class_condition="fr.lip6.move.coloane.core.formalisms.checkers.ConnectionChecker"
                      message="A transition should be connected to other nodes"
                      name="Transition connection checker"
                      severity="Warning">
                </NodeChecker>
             </Node>
             <Arc
                   name="arc">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.arcs.DirectedArc"
                      description="Create an arc"
                      drawable="true"
                      icon16px="resources/formalisms/ptn/arc_16.png"
                      icon24px="resources/formalisms/ptn/arc_24.png"
                      palettable="true"
                      paletteName="Arc">
                </GraphicInfo>
                <Attribute
                      bold="false"
                      default="1"
                      drawable="true"
                      italic="false"
                      multiline="true"
                      name="valuation">
                </Attribute>
             </Arc>
          </Graph>
          <Constraint
                link="true"
                name="PlacePlace"
                type="fr.lip6.move.coloane.interfaces.formalism.constraints.ConnectionConstraint">
             <parameter
                   name="source"
                   value="place">
             </parameter>
             <parameter
                   name="target"
                   value="place">
             </parameter>
          </Constraint>
          <Constraint
                link="true"
                name="TransitionTransition"
                type="fr.lip6.move.coloane.interfaces.formalism.constraints.ConnectionConstraint">
             <parameter
                   name="source"
                   value="transition">
             </parameter>
             <parameter
                   name="target"
                   value="transition">
             </parameter>
          </Constraint>
       </XmlDescription>
    </Formalism>
    <Formalism
          extension="cpn"
          fkname="AMI-Net"
          id="CPN"
          image="resources/formalisms/cpn/cpn.png"
          name="Colored Petri Net">
       <XmlDescription>
          <Graph
                name="AMI-Net">
             <Attribute
                   drawable="true"
                   multiline="true"
                   name="declaration">
             </Attribute>
             <Attribute
                   drawable="true"
                   multiline="true"
                   name="authors">
             </Attribute>
             <Attribute
                   default="0,0"
                   drawable="true"
                   multiline="false"
                   name="version">
             </Attribute>
             <Attribute
                   drawable="true"
                   multiline="true"
                   name="title">
             </Attribute>
             <Attribute
                   drawable="true"
                   multiline="false"
                   name="date">
             </Attribute>
             <Attribute
                   default="Designed with Coloane"
                   drawable="false"
                   multiline="true"
                   name="note">
             </Attribute>
             <Node
                   container="true"
                   name="place">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.nodes.EllipseNode"
                      description="Create a place"
                      drawable="true"
                      fill="false"
                      height="15"
                      icon16px="resources/formalisms/cpn/place_16.png"
                      icon24px="resources/formalisms/cpn/place_24.png"
                      palettable="true"
                      paletteName="Place"
                      width="15">
                </GraphicInfo>
                <Attribute
                      delta_x="20"
                      delta_y="-5"
                      drawable="true"
                      multiline="false"
                      name="name">
                </Attribute>
                <Attribute
                      delta_x="20"
                      delta_y="10"
                      drawable="true"
                      multiline="true"
                      name="domain">
                </Attribute>
                <Attribute
                      delta_x="20"
                      delta_y="25"
                      drawable="true"
                      multiline="true"
                      name="marking">
                </Attribute>
             </Node>
             <Node
                   container="false"
                   name="transition">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.nodes.RectangleNode"
                      description="Create a transition"
                      drawable="true"
                      fill="false"
                      height="7"
                      icon16px="resources/formalisms/cpn/transition_16.png"
                      icon24px="resources/formalisms/cpn/transition_24.png"
                      palettable="true"
                      paletteName="Transition"
                      width="25">
                </GraphicInfo>
                <Attribute
                      delta_x="20"
                      delta_y="-5"
                      drawable="true"
                      multiline="false"
                      name="name">
                </Attribute>
                <Attribute
                      delta_x="20"
                      delta_y="10"
                      drawable="true"
                      multiline="true"
                      name="guard">
                </Attribute>
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.nodes.RectangleNode"
                      drawable="false"
                      fill="false"
                      height="25"
                      palettable="false"
                      width="7">
                </GraphicInfo>
             </Node>
             <Arc
                   name="arc">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.arcs.DirectedArc"
                      description="Create an arc"
                      drawable="true"
                      icon16px="resources/formalisms/cpn/arc_16.png"
                      icon24px="resources/formalisms/cpn/arc_24.png"
                      palettable="true"
                      paletteName="Arc">
                </GraphicInfo>
                <Attribute
                      default="1"
                      drawable="true"
                      multiline="true"
                      name="valuation">
                </Attribute>
             </Arc>
             <Arc
                   name="inhibitor">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.arcs.InhibitorArc"
                      description="Create an inhibitor arc between a place and a transition"
                      drawable="true"
                      icon16px="resources/formalisms/cpn/inhibitor_16.png"
                      icon24px="resources/formalisms/cpn/inhibitor_24.png"
                      palettable="true"
                      paletteName="Inhibitor Arc">
                </GraphicInfo>
                <Attribute
                      default="1"
                      drawable="true"
                      multiline="true"
                      name="valuation">
                </Attribute>
             </Arc>
          </Graph>
          <Constraint
                link="true"
                name="PlacePlace"
                type="fr.lip6.move.coloane.interfaces.formalism.constraints.ConnectionConstraint">
             <parameter
                   name="source"
                   value="place">
             </parameter>
             <parameter
                   name="target"
                   value="place">
             </parameter>
          </Constraint>
          <Constraint
                link="true"
                name="TransitionTransition"
                type="fr.lip6.move.coloane.interfaces.formalism.constraints.ConnectionConstraint">
             <parameter
                   name="source"
                   value="transition">
             </parameter>
             <parameter
                   name="target"
                   value="transition">
             </parameter>
          </Constraint>
       </XmlDescription>
    </Formalism>
    <Formalism
          extension="rg"
          id="RG"
          image="resources/formalisms/rg/rg.png"
          name="Reachability Graph"
          fkname="ReachabilityGraph">
       <XmlDescription>
          <Graph
                name="ReachabilityGraph">
             <Node
                   container="false"
                   name="initial_state">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.nodes.DoubleEllipseNode"
                      description="Create an initial state"
                      drawable="true"
                      height="15"
                      icon16px="resources/formalisms/rg/initial_16.png"
                      icon24px="resources/formalisms/rg/initial_24.png"
                      palettable="true"
                      paletteName="Initial State"
                      width="15">
                </GraphicInfo>
                <Attribute
                      delta_x="20"
                      delta_y="-5"
                      drawable="true"
                      multiline="true"
                      name="value">
                </Attribute>
             </Node>
             <Node
                   container="true"
                   name="terminal_state">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.nodes.EllipseNode"
                      description="Create a terminal state"
                      drawable="true"
                      fill="true"
                      height="15"
                      icon16px="resources/formalisms/rg/terminal_16.png"
                      icon24px="resources/formalisms/rg/terminal_24.png"
                      palettable="true"
                      paletteName="Terminal State"
                      width="15">
                </GraphicInfo>
                <Attribute
                      delta_x="20"
                      delta_y="-5"
                      drawable="true"
                      multiline="true"
                      name="value">
                </Attribute>
             </Node>
             <Node
                   container="false"
                   name="state">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.nodes.EllipseNode"
                      description="Create a state"
                      drawable="true"
                      fill="false"
                      height="15"
                      icon16px="resources/formalisms/rg/state_16.png"
                      icon24px="resources/formalisms/rg/state_24.png"
                      palettable="true"
                      paletteName="State"
                      width="15">
                </GraphicInfo>
                <Attribute
                      delta_x="20"
                      delta_y="-5"
                      drawable="true"
                      multiline="true"
                      name="value">
                </Attribute>
             </Node>
             <Arc
                   name="event">
                <GraphicInfo
                      associatedFigure="fr.lip6.move.coloane.core.ui.figures.arcs.DirectedArc"
                      description="Create an event"
                      drawable="true"
                      icon16px="resources/formalisms/rg/arc_16.png"
                      icon24px="resources/formalisms/rg/arc_24.png"
                      palettable="true"
                      paletteName="Event">
                </GraphicInfo>
                <Attribute
                      drawable="true"
                      multiline="false"
                      name="label">
                </Attribute>
             </Arc>
             <Attribute
                   drawable="true"
                   multiline="false"
                   name="type">
             </Attribute>
             <Attribute
                   drawable="true"
                   multiline="true"
                   name="author(s)">
             </Attribute>
             <Attribute
                   drawable="true"
                   multiline="true"
                   name="information">
             </Attribute>
          </Graph>
       </XmlDescription>
    </Formalism>
 </extension>
 <extension
       id="fr.lip6.move.coloane.menus"
       name="Menus"
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:org.eclipse.ui.main.menu?after=additions">
       <menu
             id="fr.lip6.move.coloane.core.services"
             label="%MENUBAR_LABEL"
             mnemonic="S">
          <menu
                icon="resources/icons/local.png"
                id="fr.lip6.move.coloane.core.services.local"
                label="%LOCAL_MENU">
             <dynamic
                   class="fr.lip6.move.coloane.core.extensions.ToolsContribution"
                   id="fr.lip6.move.coloane.core.services.local.tools">
             </dynamic>
          </menu>
          <separator
                name="separator.type.1"
                visible="true">
          </separator>
          <dynamic
                class="fr.lip6.move.coloane.core.extensions.ApiLocalContribution"
                id="fr.lip6.move.coloane.core.services.localapis">
          </dynamic>
          <separator
                name="separator.type.2"
                visible="true">
          </separator>
          <dynamic
                class="fr.lip6.move.coloane.core.extensions.ApiGlobalContribution"
                id="fr.lip6.move.coloane.core.services.globalapis">
          </dynamic>
          <visibleWhen checkEnabled="false">
          	 <with variable="activeWorkbenchWindow.activePerspective">
                  <equals value="fr.lip6.move.coloane.perspective"/>
             </with>
          </visibleWhen>
       </menu>
    </menuContribution>
 </extension>
 <extension
       id="fr.lip6.move.coloane.core.ui.checker.rootMarker"
       name="Root Marker"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
    <persistent
          value="true">
    </persistent>
    <attribute
          name="id">
    </attribute>
 </extension>
 <extension
       id="fr.lip6.move.coloane.core.ui.checker.nodeMarker"
       name="Node Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="fr.lip6.move.coloane.core.ui.checker.rootMarker">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       id="fr.lip6.move.coloane.core.ui.checker.nodeAttributeMarker"
       name="Node Attribute Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="fr.lip6.move.coloane.core.ui.checker.rootMarker">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       id="fr.lip6.move.coloane.core.ui.checker.arcMarker"
       name="Arc Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="fr.lip6.move.coloane.core.ui.checker.rootMarker">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       id="fr.lip6.move.coloane.core.ui.checker.arcAttributeMarker"
       name="Arc Attribute Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="fr.lip6.move.coloane.core.ui.checker.rootMarker">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       id="fr.lip6.move.coloane.core.ui.checker.graphMarker"
       name="Graph Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="fr.lip6.move.coloane.core.ui.checker.rootMarker">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       id="fr.lip6.move.coloane.core.ui.checker.graphAttributeMarker"
       name="Graph Attribute Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="fr.lip6.move.coloane.core.ui.checker.rootMarker">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
</plugin>
