<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
        id="eclipse-repository"
        point="org.eclipse.core.runtime.products">
        <product
            application="fr.lip6.move.coloane.product.application"
            name="Coloane">
           <property
                 name="appName"
                 value="Coloane">
           </property>
           <property
                 name="aboutText"
                 value="Coloane Modeler&#x0A;Version:  1.0-SNAPSHOT">
           </property>
           <property
                 name="aboutImage"
                 value="platform:/plugin/fr.lip6.move.coloane.core/resources/icons/coloane_64.png">
           </property>
           <property
                 name="windowImages"
                 value="platform:/plugin/fr.lip6.move.coloane.core/resources/icons/coloane_16.png,platform:/plugin/fr.lip6.move.coloane.core/resources/icons/coloane_32.png,platform:/plugin/fr.lip6.move.coloane.core/resources/icons/coloane_48.png,platform:/plugin/fr.lip6.move.coloane.core/resources/icons/coloane_64.png,platform:/plugin/fr.lip6.move.coloane.core/resources/icons/coloane_128.png">
           </property>
        </product>
    </extension>
    <extension
        id="application"
        point="org.eclipse.core.runtime.applications">
        <application>
            <run
                class="fr.lip6.move.coloane.rcp.ColoaneApplication">
            </run>
        </application>
    </extension>
    <extension
        id="product"
        point="org.eclipse.core.runtime.products">
        <product
            application="fr.lip6.move.coloane.product.application"
            name="Coloane">
            <property
                name="appName"
                value="Coloane">
            </property>
            <property
                name="windowImages"
                value="icons/alt_window_16.gif,icons/alt_window_32.gif">
            </property>
<!--         <property-->
<!--               name="startupForegroundColor"-->
<!--               value="000000">-->
<!--         </property>-->
<!--         <property-->
<!--               name="startupMessageRect"-->
<!--               value="7,252,445,20">-->
<!--         </property>-->
<!--         <property-->
<!--               name="startupProgressRect"-->
<!--               value="5,275,445,15">-->
<!--         </property>-->
         <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
         </property>
     </product>
 </extension>
   <extension
         id="org.eclipse.ui.main.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  id="close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  id="closeAll"
                  style="push">
            </command>
            <separator
                  name="separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  id="saveAll"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  id="saveAs"
                  style="push">
            </command>
            <separator
                  name="separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.refresh"
                  id="refresh"
                  style="push">
            </command>
            <separator
                  name="separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  id="print"
                  style="push">
            </command>
            <separator
                  name="separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="quit"
                  style="push">
            </command>
         </menu>
         <menu
               id="edit"
               label="Edit"
               mnemonic="E">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  id="undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  id="redo"
                  style="push">
            </command>
            <separator
                  name="fr.lip6.move.coloane.rcp.separator7"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  id="cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  id="copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  id="paste"
                  style="push">
            </command>
            <separator
                  name="fr.lip6.move.coloane.product.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  id="delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  id="selectAll"
                  style="push">
            </command>
         </menu>
         <menu
               id="help"
               label="Settings"
               mnemonic="S">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
