<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
        id="eclipse-repository"
        point="org.eclipse.core.runtime.products">
        <product
            application="fr.lip6.move.coloane.product.application"
            name="Coloane Product">
        </product>
    </extension>
    <extension
        id="application"
        point="org.eclipse.core.runtime.applications">
        <application>
            <run
                class="fr.lip6.move.coloane.rcp.ColoaneApplication">
            </run>
        </application>
    </extension>
    <extension
        id="product"
        point="org.eclipse.core.runtime.products">
        <product
            application="fr.lip6.move.coloane.product.application"
            name="Coloane">
            <property
                name="appName"
                value="Coloane">
            </property>
            <property
                name="windowImages"
                value="icons/alt_window_16.gif,icons/alt_window_32.gif">
            </property>
<!--         <property-->
<!--               name="startupForegroundColor"-->
<!--               value="000000">-->
<!--         </property>-->
<!--         <property-->
<!--               name="startupMessageRect"-->
<!--               value="7,252,445,20">-->
<!--         </property>-->
<!--         <property-->
<!--               name="startupProgressRect"-->
<!--               value="5,275,445,15">-->
<!--         </property>-->
         <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
         </property>
     </product>
 </extension>

</plugin>
