<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="exportGML" name="exportGML" schema="schema/exportGML.exsd"/>
   <extension
         point="fr.lip6.move.coloane.core.exports">
      <Export
            class="fr.lip6.move.coloane.extensions.exporttogml.ExportToGML"
            extension="gml"
            id="fr.lip6.move.coloane.extensions.exporttogml"
            wizard_id="fr.lip6.move.coloane.wizard.export.gml">
         <AcceptedFormalism
               id="PT-Net">
         </AcceptedFormalism>
         <AcceptedFormalism
               id="CPN">
         </AcceptedFormalism>
         <AcceptedFormalism
               id="SNB">
         </AcceptedFormalism>
         <AcceptedFormalism
               id="fr.lip6.move.coloane.formalism.cosmos.gspn">
         </AcceptedFormalism>
         <AcceptedFormalism
               id="Timed Automata">
         </AcceptedFormalism>
         <AcceptedFormalism
               id="fr.lip6.move.coloane.formalism.cosmos.lha">
         </AcceptedFormalism>
      </Export>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="fr.lip6.move.coloane.wizard.export.coloane"
            class="fr.lip6.move.coloane.core.ui.wizards.exportmodel.ExportWizard"
            id="fr.lip6.move.coloane.wizard.export.gml"
            name="GML file">
      </wizard>
   </extension>
   <extension
         point="fr.lip6.move.coloane.extensions.exporttogml.exportGML">
      <exportedFormalism
            class="fr.lip6.move.coloane.extensions.exporttogml.SNBExport"
            fmlurl="http://alligator.lip6.fr/s-net.fml"
            name="CPN">
      </exportedFormalism>
      <exportedFormalism
            class="fr.lip6.move.coloane.extensions.exporttogml.SNBExport"
            fmlurl="http://alligator.lip6.fr/pt-net.fml"
            name="PT-Net">
      </exportedFormalism>
   </extension>
   <extension
         point="fr.lip6.move.coloane.extensions.exporttogml.exportGML">
      <exportedFormalism
            class="fr.lip6.move.coloane.extensions.exporttogml.SNBExport"
            fmlurl="http://alligator.lip6.fr/snb.fml"
            name="SNB">
      </exportedFormalism>
   </extension>
   <extension
         point="fr.lip6.move.coloane.extensions.exporttogml.exportGML">
      <exportedFormalism
            class="fr.lip6.move.coloane.extensions.exporttogml.CosmosExport"
            fmlurl="http://alligator.lip6.fr/sptgd-net.fml"
            name="fr.lip6.move.coloane.formalism.cosmos.gspn">
      </exportedFormalism>
   </extension>
   <extension
         point="fr.lip6.move.coloane.extensions.exporttogml.exportGML">
      <exportedFormalism
            class="fr.lip6.move.coloane.extensions.exporttogml.CosmosExport"
            fmlurl="http://alligator.lip6.fr/lha.fml"
            name="fr.lip6.move.coloane.formalism.cosmos.lha">
      </exportedFormalism>
   </extension>
   <extension
         point="fr.lip6.move.coloane.extensions.exporttogml.exportGML">
      <exportedFormalism
            class="fr.lip6.move.coloane.extensions.exporttogml.CosmosExport"
            fmlurl="http://alligator.lip6.fr/sptgd-net.fml"
            name="Timed Automata">
      </exportedFormalism>
   </extension>

</plugin>
