<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.eclipsetotale.tutorial.horloge.horloges">
      <Horloge
            classe="com.eclipsetotale.tutorial.horloge.texte.HorlogeImpl"
            id="com.eclipsetotale.tutorial.horloge.texte"
            nom="Horloge Texte">
      </Horloge>
   </extension>

</plugin>
