<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.lip6.move.coloane.ui.MainPerspectiveFactory"
            icon="icons/editor.gif"
            id="fr.lip6.move.coloane.perspective"
            name="Coloane"/>
   </extension>
    <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="fr.lip6.move.coloane.actionSet"
            label="Coloane Platform"
            visible="false">
         <menu
               id="coloaneServicesMenu"
               label="Coloane Services">
            <separator name="PlatformSeparator"/>
            <separator name="OthersMenusSeparator"/>
         </menu>
         <menu
               id="plateformMenu"
               label="Platform"
               path="coloaneServicesMenu/PlatformSeparator">
            <separator name="group1"/>
            <separator name="group2"/>
         </menu>
         <action
               class="fr.lip6.move.coloane.ui.actions.DisconnectModelAction"
               icon="icons/disconnect.gif"
               id="disconnect"
               label="Disconnect model"
               menubarPath="coloaneServicesMenu/plateformMenu/group2"
               style="push"
               toolbarPath="coloaneServicesToolbarButtons"
               tooltip="Disconnect current model">
         </action>
         <action
               allowLabelUpdate="true"
               class="fr.lip6.move.coloane.ui.actions.ConnectModelAction"
               icon="icons/connect.gif"
               id="connect"
               label="Connect model"
               menubarPath="coloaneServicesMenu/plateformMenu/group2"
               style="push"
               toolbarPath="coloaneServicesToolbarButtons"
               tooltip="Connect current model">
         </action>
         <action
               allowLabelUpdate="true"
               class="fr.lip6.move.coloane.ui.actions.AuthenticationAction"
               icon="icons/auth.gif"
               id="authentication"
               label="Authentication..."
               menubarPath="coloaneServicesMenu/plateformMenu/group1"
               style="push"
               toolbarPath="coloaneServicesToolbarButtons"
               tooltip="Authenticate against FrameKit platform">
         </action>
      </actionSet>
      <actionSet
            id="fr.lip6.move.coloane.actionSet.file"
            label="CAMI Import Export"
            visible="true">
         <action
               class="fr.lip6.move.coloane.ui.actions.ImportExportCAMI"
               icon="icons/import_wiz.gif"
               id="cami_import"
               label="Import CAMI File..."
               menubarPath="file/import.ext"
               style="push"/>
         <action
               class="fr.lip6.move.coloane.ui.actions.ImportExportCAMI"
               icon="icons/export_wiz.gif"
               id="cami_export"
               label="Export CAMI File..."
               menubarPath="file/import.ext"
               style="push"/>
      </actionSet>
   </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="fr.lip6.move.coloane.views"
             name="Coloane"/>
       <view
             allowMultiple="false"
             category="fr.lip6.move.coloane.views"
             class="fr.lip6.move.coloane.ui.panels.HistoryView"
             icon="icons/histo_pane.gif"
             id="fr.lip6.move.coloane.views.HistoricView"
             name="Historic"/>
       <view
             allowMultiple="false"
             category="fr.lip6.move.coloane.views"
             class="fr.lip6.move.coloane.ui.panels.ResultsView"
             icon="icons/state_pane.gif"
             id="fr.lip6.move.coloane.views.ResultsView"
             name="Results"/>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="fr.lip6.move.coloane.ui.Editor"
             default="true"
             extensions="rdp, gma, pfx"
             icon="icons/instance.gif"
             id="fr.lip6.move.coloane.editor"
             name="Editor"/>
    </extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <wizard
             canFinishEarly="true"
             category="org.eclipse.ui.Basic/"
             class="fr.lip6.move.coloane.ui.wizards.NewProjectWizard"
             finalPerspective="fr.lip6.move.coloane.perspective"
             hasPages="true"
             icon="icons/project.gif"
             id="fr.lip6.move.coloane.wizard.projectWizard"
             name="Modeling Project"
             preferredPerspectives="fr.lip6.move.coloane.perspective"
             project="true"/>
       <wizard
             canFinishEarly="false"
             category="org.eclipse.ui.Basic/"
             class="fr.lip6.move.coloane.ui.wizards.NewModelWizard"
             hasPages="true"
             icon="icons/model.gif"
             id="fr.lip6.move.coloane.wizard.modelWizard"
             name="Model"
             project="false"/>
    </extension>
    <extension
          id="product"
          point="org.eclipse.core.runtime.products">
       <product
             application="fr.lip6.move.coloane.standalone.application"
             name="Coloane">
          <property
                name="startupForegroundColor"
                value="000000"/>
          <property
                name="startupMessageRect"
                value="0,0,0,0"/>
          <property
                name="startupProgressRect"
                value="0,0,0,0"/>
          <property
                name="aboutText"
                value="Coloane &#x0A;Version 0.9.1&#x0A;by Jean-Baptiste Voron&#x0A;&#x0A;For more information please visit :&#x0A;http://www.lip6.fr/coloane"/>
          <property
                name="aboutImage"
                value="icons/icone_ile.gif"/>
       </product>
    </extension>
</plugin>
