<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.lip6.move.coloane.core.apis">
      <API
            class="fr.lip6.move.coloane.api.alligator.AlligatorApi"
            description="CPNAMI-v4 Platform"
            formalism="*"
            global="true"
            icon="resources/alligator-logo.png"
            name="Alligator">
      </API>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.lip6.move.coloane.api.alligator.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="fr.lip6.move.coloane.ui.prefs.main"
            class="fr.lip6.move.coloane.api.alligator.preferences.AlligatorPreferencePage"
            id="fr.lip6.move.coloane.api.alligator.preferences.AlligatorPreferencePage"
            name="Alligator Preferences">
      </page>
   </extension>
   <extension
         point="fr.lip6.move.coloane.core.tools">
      <Tool
            action="fr.lip6.move.coloane.api.alligator.dialog.ServiceTestDialog"
            description="test"
            name="test">
      </Tool>
   </extension>

</plugin>
