<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.lip6.move.coloane.extensions.exportToGML.exportGML">
       	<exportedFormalism
         	class = "fr.lip6.move.coloane.extensions.exporttogml.automaton.AutomatonExport"
         	fmlurl="http://formalisms.cosyverif.org/automaton.fml"
         	name="automaton">
         </exportedFormalism>
   </extension>
</plugin>


